<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <h4 class="alert alert-primary">Here is some update</h4>
  <p>Delete node_modules from localhost</p>
  <div class="bg-warning">Environment variable</div>
  <div class="bg-success">Docker compose!!</div>
</div>